# Ativação do RewriteEngine (para gerenciar rotas)
RewriteEngine on

# Definindo a rota principal 
RewriteBase /


# Caso o dir ou files digitados na URL não existirem, segue a RewriteRule
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite Rule: redirecionar todas as requests para 'index.php'
RewriteRule ^(.+)$ index.php [QSA,L]