h1{
    text-align: center;
    background-color: red;
    size: 5px;
    margin-top: 25px;
}

#sidebar{
    height: 100%;
}


#adic{
    margin-top: 45px;

}
#adic-link{
    text-decoration: none;
}
.btn {

border: 2px solid black;
border-radius: 5px;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}

/* Green */
.green {
border-color: #04AA6D;
color: green;
}

.green:hover {
background-color: #54b216;
color: white;
}


.title{
    background-color: cadetblue;
}
.adic{
    text-align: center;
    margin:0px 0px 10px 300px ;
    margin-top: 10px;
    width: 50px;
    background-color: black;
    color: white;
    font-size: 15pt;
    border-radius: 5px;
}
.adic:hover{
    background-color: gray;
    cursor: pointer;
}
.delete{
    display: block;
    background-color: black;
    width: 25px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#del-minus{
    color: white;
}
.delete:hover{
    background-color: gray;
    cursor: pointer;
}
.rodape:hover{
    background-color: burlywood;
}
b{
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 2px;
}
h3{
    color: #12091d;
    width: 100px;
    margin: 50px auto ;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
#verde{
    background-color: greenyellow;
}
#vermelho{
    background-color: red;
}

/* VIEW/ESTOQUE */
h1{
    margin: auto;
    margin-left: 600px;
}

.title{
    background-color: cadetblue;
}
.adic{
    text-align: center;
    margin:0px 0px 10px 300px ;
    margin-top: 10px;
    width: 50px;
    background-color: black;
    color: white;   
    font-size: 15pt;
    border-radius: 5px;
}
.adic:hover{
    background-color: gray;
    cursor: pointer;
}
.delete{
    display: block;
    background-color: black;
    width: 25px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#del-minus{
    color: white;
}
.delete:hover{
    background-color: gray;
    cursor: pointer;
}
.rodape:hover{
    background-color: burlywood;
}
b{
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 2px;
}
h3{
    color: #12091d;
    width: 150px;
    margin: 50px auto ;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
#verde{
    background-color: greenyellow;
}
#vermelho{
    background-color: red;
}