{% extends "base.html" %}

{% block head %} 

    {{ parent() }}

{% endblock %}

{% block title %} Page not Found {% endblock %}

{% block header %}{% endblock %}

    <div class="ntfnd-screen">
        <h1>Página Não encontrada!</h1>
    </div>


{% block footer %}
    {{ parent() }}
{% endblock %}
