<div class="sidebar">
    <ul>
        <li><a class="active" href="home.php">Home</a></li>
        <li><a href="clientes.php">Clientes</a></li>
        <li><a href="contasPagar.php">Contas a pagar</a></li>
        <li><a href="estoque.php">Estoque</a></li>
        <li><a href="pagamentos.php">Pagamentos</a></li>
    </ul>
</div>