/*
Paleta:



*/


body {
    background-color: whitesmoke;
}

h2 {
    text-align: center;
}

.container {
    background-color: aquamarine;
    height: 150px;
    width: 35%;
    border-radius: 8px;
    padding: 10px;
    margin: 100px auto ;
}

#btn-submit {
    border-radius: 8px;
}

input {
    border-radius: 8px;
}